html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1C1C1C;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    background-image: url('../assets/transparentweb_bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    background-color: #1c1c1c51;
    width: 100%;
    height: 3em; 
    color:#EDEDED;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: 5; ;
}

header a {
    text-decoration: none;
    color:#EDEDED;
    padding-left: 3%; 
    padding-right: 3%; 
}

header a:hover {
    color:#1C1C1C;
    background-color: #ededed85;
    text-decoration: line-through;
}

footer {
    margin-top: 10%;
    background-color: #1c1c1c51;
    width: 100%;
    height: 2.5em; 
    color:#EDEDED;
}

footer p {
    background-color: #1c1c1c51;
    font-size: 1em;
    padding: .5%;
}

h1 {
    font-size: 1.25em;
}

nav {
    width: 50%; 
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}


h2 {
    font-size: 1.25em;
}

#bio {
    width: 50%;  
    padding: 2%; 
    background-color: #ededed67;
    color: #0D0D0D;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 1.15em;
    line-height: 150%;
    letter-spacing: .025em; 
    margin-top: 5%;  
}

#bio a {
    text-decoration: none;
    color:#EDEDED;
    padding-left: 3%; 
    padding-right: 3%; 
}

#bio a:hover {
    color:#1C1C1C;
    background-color: #edededb6;
    text-decoration: line-through;
}

#projects {
    background-color: #ededed67;
}
#projects h1 {
    font-size: 1.15em;
    padding: 2%; 
    line-height: 150%;
    letter-spacing: .025em; 
    margin-top: 5%;  
    text-align: right;
}

#all_projects {
    width: 100%;  
    padding: 1%; 
    font-size: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;  
    align-items: center;
}

.project {
    position: relative;
    width: 30%;
    margin: 1%; 
    text-align: center;
    flex-basis: 1;
    flex-grow: 0;
    flex-shrink: 1;
}

.thumb {
    display: block;
    width: 100%;
    height: auto;
    padding: 1%; 
    text-align: center;
    flex-basis: 1;
    flex-grow: 1;
    flex-shrink: 1;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .15s ease;
    background-color: #1c1c1cd7;
}
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.project:hover .overlay {
    opacity: 1;
}

#all_projects a:hover {
    background-color: none;
}

#press {
    width: 75%;  
    padding: 2%; 
    background-color: #ededed6d; 
    color: #0D0D0D;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 1.15em;
    line-height: 150%;
    letter-spacing: .025em; 
    margin-top: 10%;  
}

#press a {
    text-decoration: none;
    color:#EDEDED;
}

#press a:hover {
    color:#1C1C1C;
    background-color: #edededb6;
    text-decoration: line-through;
}


#bio a {
  padding: 0; 
}

#bio a:hover {
    color:#1C1C1C;
    background-color: #edededb6;
    text-decoration: line-through;
}


#elevator {
    position: fixed;
    z-index: 100;
    top: 0; 
    right: 0; 
    animation: elevator linear 12s infinite alternate;
}

@keyframes elevator {
    0% {
        transform-origin: left;
        transform: translate(-200px, 0px) rotate(20deg);
    }

    25% {
        transform: translate(0px, 50px) rotate(-20deg) ;
    }

    50% {
        transform: translate(-500px, 100px) rotate(-100 deg) ;
    }

    75% {
        transform: translate(-100px, -300px) rotate(-75 deg) ;
    }

    100% {
        transform: translate(0px, 0px) rotate( 10 deg);
    }
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    html {
        font-size: 50%;
    }

    body {
        background-image: none; 
    }

    header {
        width: 100%;
    }

    #bio {
        position: static;
        width: 100%;
        margin-top: 10%;
    }

    #all_projects {
        position: static;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
    }

    .project {
        width: 100%; 
    }
    
   .thumb {
        width: 90%; 
    }

    #press {
        position: static;
        width: 100%;
        margin-top: 10%;
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {

 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {

 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {

 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    
 } 