html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1C1C1C;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    background-image: url('../assets/web_bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    width: 100%;
    height: 3em; 
    color:#EDEDED;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: 5; ;
}

h1 {
    font-size: 1.5em;
}

nav {
    width: 50%; 
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

h2 {
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color:#EDEDED;
    padding-left: 3%; 
    padding-right: 3%; 
}

a:hover {
    color:#1C1C1C;
    background-color: #ededed85;
    text-decoration: line-through;
}

#bio {
    width: 35%;  
    padding: 2%; 
    background-color: #edededb6;
    color: #0D0D0D;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 1em;
    position: absolute;
    top: 25%;  
    z-index: 5; ;
}

#bio a {
  padding: 0; 
}

#bio a:hover {
    color:#1C1C1C;
    background-color: #ededed85;
    text-decoration: line-through;
}
 
 
#contact {
    width: 15%; 
    padding: 1%; 
    background-color: #edededb6;
    color: #0D0D0D;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 1em;
    position: fixed;
    top: 15%;  
    left: 65%; 
    z-index: 10; ;
}

#contact a {
    text-decoration: none;
    color:#1C1C1C;
    padding: 0.5%; 
}

#contact a:hover {
    color:#1C1C1C;
    text-decoration: line-through;
}
 
#cv {
    width: 5%;  
    padding: 1%; 
    background-color: #edededb6;
    color: #0D0D0D;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 1em;
    text-align: center;
    position: fixed;
    top: 30%;  
    left: 80%; 
    z-index: 5; ;
}
 
#elevator {
    position: fixed;
    z-index: 100;
    top: 0; 
    right: 0; 
    animation: elevator linear 12s infinite alternate;
}

@keyframes elevator {
    0% {
        transform-origin: left;
        transform: translate(-200px, 0px) rotate(20deg);
        
    }

    25% {
        transform: translate(0px, 50px) rotate(-20deg) ;
    }

    50% {
        transform: translate(-500px, 100px) rotate(-100 deg) ;
    }

    75% {
        transform: translate(-100px, -300px) rotate(-75 deg) ;
    }

    100% {
        transform: translate(0px, 0px) rotate( 10 deg);
    }
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    html {
        font-size: 50%;
    }

    body {
        background-image: none; 
    }

    header {
        width: 85%;
    }

    #bio {
        width: 60%;
        top: 10%; 
    }

    #contact {
        display: none; 
    }

    #cv {
        display: none; 
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {

 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {

 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {

 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    
 } 